html, body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient(to left, lightskyblue, lightgreen);
    color: white;
}

hr{
    width: 100%;
    border: 1px solid transparent
}

nav a{
    margin: 10px;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: yellow;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

main{
    padding: 20px;
}

footer{
    padding: 10px;
    background-color: gray;
    text-align: center;
    font-size: 12px;
    color: black;
    margin-top: 20px;
}

li{
    display: inline;
}

.hobby{
    display: block;
    margin-top: 5px;
}

h2{
    color: darkblue;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkblue;
}

.rick{
    color: blue;
}

nav a.rick{
    color: blue;
}

.present{
    text-align: left;
    color: black;
    text-decoration-color: black;
}