header{
    text-align: center;
    background-color: blueviolet;
    color: white;
}

nav a{
    margin: 10px;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: red;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

main{
    padding: auto;
}

footer{
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-top: 20px;
}

main a{
    color: orange;
}

li{
    display: inline;
}
