th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.parcours{
    justify-items: center;
}

th{
    background-color: #a6ed82;
    color: #1aa59a;
}

table{
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 10px;
}

td:hover{
    background-color: #DAFAA7;
}

td{
    color: black;
}

.tab{
    color: #1aa59a;
    text-decoration: none;
}