.presentation{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    background: linear-gradient(to top right, rgb(255, 255, 107), rgb(212, 115, 212));
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: -10px 30px 20px silver;
}

.present_titre{
    color: rgb(128, 0, 128);
    text-decoration-color: rgb(128, 0, 128);
}

.competence{
    display: flex;
    flex-direction: column;
}