html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3f3b9;
    color: #333333;
}
header{
    width: 100%;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: #1B5A7A;
    color: white;
}

hr{
    width: 100%;
    border: 1px solid transparent
}

nav a{
    margin: 10px;
    color: white;
    font-weight: bold;
}

nav a:hover{
    color: yellow;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

main{
    padding: 20px;
}

footer{
    padding: 10px;
    background-color: #1B5A7A;
    text-align: center;
    font-size: 12px;
    color: black;
    margin-top: 20px;
}



.hobby{
    display: block;
    margin-top: 5px;
}

h2{
    color: #1aa59a;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #1aa59a;
}

header figure img {
    width: 10%;
    border-radius: 30%;
    box-shadow: 0 0 10px gray;
}

img:hover {
    transform: scale(1.1);
    transition-duration: 0.3s  ;
}

img{
    transition: transform 0.3s ease;
}

