th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.parcours{
    justify-items: center;
}

th{
    background-color: rgb(209, 244, 255);
    color: rgb(34, 0, 255);
}

table{
    border-collapse: collapse;
}