.projets{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-projets{
    text-align: center;
    padding: 10px;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
}

.item-projets h3{
    color: blueviolet;
}
